@font-face {
    font-family: 'Brasspounder Regular';
    src: url('brasslbr.eot');
    src: url('brasslbr.eot?#iefix') format('embedded-opentype'),
         url('brasslbr.woff2') format('woff2'),
         url('brasslbr.woff') format('woff'),
         url('brasslbr.ttf') format('truetype'),
         url('brasslbr.svg#brasspounderregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Brasspounder SC Regular';
    src: url('brasspsc.eot');
    src: url('brasspsc.eot?#iefix') format('embedded-opentype'),
         url('brasspsc.woff2') format('woff2'),
         url('brasspsc.woff') format('woff'),
         url('brasspsc.ttf') format('truetype'),
         url('brasspsc.svg#brasspounder_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
